<h2>Please enter your event information:</h2>
<form method="post">
<p>Organizer Name: </p>
<p>Organizer Email: </p>
<p>Event Name: </p>
<p>Event Date: </p>

=begin
t.string :organizer_name, :organizer_email, :title
t.date :date
=end
